.result-container {
    flex-direction: row;
}

.card-body-custom {
    position: relative;
    left: 10vw;
}

.card-custom {
    margin: 10px;
    border-radius: 10px;
    min-width: 600px;
    min-height: 100px;
}

.card-title-custom {
    font-size: x-large;
    font-weight: bold;
    color: #7fb1f0;
    cursor: pointer;
}

.card-text-custom {
    font-size: large;
    text-decoration: underline;
}